@import "tailwindcss";

@theme {
  /* colors  */
  --color-primary: #00b4ad;
  --color-primary-light-1: rgba(156, 226, 222, 0.25);
  --color-whitesmoke: #f8f8f8;
  --border: oklch(0.92 0 0);
}

@utility btn {
  @apply px-4 py-2 rounded-lg bg-primary text-white flex items-center gap-x-4;
}

@utility padding {
  @apply px-8 py-4;
}

@utility active {
  @apply bg-primary cursor-pointer;
}
@utility disabled {
  @apply bg-gray-300 cursor-not-allowed;
}

.data-table {
  td,
  th {
    padding: 8px 16px;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00b4ad;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #089e97;
}
